/* work-init-model-frontend/src/layouts/BasicLayout/components/Footer/index.css */

/* 居中页脚 */
.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background: #efefef;
    padding: 16px;
    text-align: center;
}